// Define variables for your color scheme

// For example:
$red: #C44536;
$blue: #133366;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #242424;
$light-gray: #F4F4F4;
$dark-blue: #344055;
$light-blue: #CEDFD9;
