
.banner-content {
  width: 400px;
  margin: 50px;
  align-items: center;
}


.banner {
  color: white;
  text-align: left;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_title {
  width: 80%;
  margin: 50px;
  align-items: center;
}

.banner_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.banner_search {
  text-align: left;
  height: 250px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  position: relative;
}

.banner_search h1 {
  position: absolute;
  left: 30px;
  top: 30px;
}

.banner_search h2 {
  position: absolute;
  left: 30px;
  top: 100px;
}
