.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 30px;
  padding: 20px;
}

.card {
  height: 140px;
  width: 250px;
  background-size: cover !important;
  background-position: center;
  color: gray;

  position: relative;
  margin-top: 30px;
  box-shadow: 0px 0px 1px #e7e7e7;
  border-radius: 4px;
  padding: 5px;
  color: white;


  a {
    color: gray;
  }
}

.card-wraper {
  padding: 0 30px;
}

.content {
  display: flex;
}

.cards-container {
  padding: 4px 15px;
  flex: auto;
}

.card-category {
  font-weight: bold
}

.card-description {
  padding: 5px;
  height: 60px;
}


.card:hover {
  opacity: 0.3;
}

.card-show {
  border: solid;
  margin: 5px;
  padding: 0 5px;

}

.card-header {
  background:#133366;
  border-bottom: solid;
  margin: 0 -5px;
}


.card-list {

}

.card-body {
  padding-left: 5px;

}

.list-group {
  list-style-type: none;
}
