.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 30px;
  padding: 20px;
}

.card {
  height: 80px;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
  font-size: 10;
  background: #CEDFD9;
  color: white;
  position: relative;
  margin-top: 30px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  padding: 5px;
  color: white;


  a {
    color: #133366;
  }
}

.card-wraper {
  padding: 0 30px;
}

.content {
  display: flex;
}

.cards-container {
  padding: 4px 15px;
  flex: auto;
}

.card-description {
  padding: 5px;
  height: 60px;
  color: white;
}


.card:hover {
  opacity: 0.3;
}

.card-show {
  border: solid;
  margin: 5px;
  padding: 0 5px;
  width: 330px;
  height: 350px;
}

.card-header {
  background:#133366;
  border-bottom: solid;
  margin: 0 -5px;
}


.card-list {

}

.card-body {
  padding-left: 5px;

}

.list-group {
  list-style-type: none;
}
