
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  weight: 100%;
  margin: 50px;
}


.form-login-wrapper {
  weight: 80%;
  display: flex;
  justify-content: flex-start;
}


.form-register-wrapper {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  margin: 30px 0 30px 0;
  padding: 0 0 30px 0px;
}

.form_patient {
  width: 100%;
  text-align:center;
  margin-top: 350px;
}

.search_box {
  height: 40px;
  width: 450px;
  border-radius: 4px;
}
