<div class="container">
  <h2>Volume de consultas por mês</h2>

  <p>Selecione o mês:</p>
  <%= form_tag reports_get_consults_path, method: :get do %>
    <%= date_select nil, :month, selected: @month, discard_day: true, end_year: Date.current.year, start_year: Date.current.year - 3 %>
    <button type="submit" class="btn btn-primary">Buscar</button>
  <% end %>

  <% content_for(:after_js) do %>
    <%= column_chart @consults_by_month, id: "consults-chart", width: "90%", height: "300px" %>
  <% end %>
</div>
