<div class="container">
  <h2>Diagnósticos mais frequentes no mês</h2>

  <p>Selecione o mês:</p>
  <%= form_tag reports_get_diagnosis_path, method: :get do %>
    <%= date_select nil, :month, selected: @month, discard_day: true, end_year: Date.current.year, start_year: Date.current.year - 3 %>
    <button type="submit" class="btn btn-primary">Buscar</button>
  <% end %>

  <% content_for(:after_js) do %>
    <%= pie_chart @diagnosis %>
  <% end %>

</div>
