<% content_for(:charts) do %>
  <div class="col-xs-12 col-md-6">
    <h2>Exames mais solicitados no mês</h2>

    <p>Selecione o mês:</p>
    <%= form_tag reports_get_exams_path, method: :get do %>
      <%= date_select nil, :month, selected: @month, discard_day: true, end_year: Date.current.year, start_year: Date.current.year - 3 %>
      <button type="submit" class="btn btn-primary">Buscar</button>
    <% end %>
      <%= pie_chart @exams %>
  </div>
<% end %>

