<div class="container">
    <div class="form_search">
      <%= form_tag reports_path, method: :get do %>
        <%= render 'datepicker_form' %>
        <div class="search-patient">
          <%= collection_select nil, :term, @diagnoses, :id, :ciap_and_description, { placeholder: 'Digite o diagnóstico', include_blank: true, selected: params[:term] }, class: "search_box", "data-ui" => "select2-simpleform" %>

          <%= submit_tag 'Buscar', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
</div>
