
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= render "get_consults" %>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= render "get_diagnosis" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= render "get_complaints" %>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= render "get_exams" %>
    </div>
  </div>
</div>
