
<div class="container">
  <div class="row">
      <%= render "get_consults" %>
      <%= render "get_diagnosis" %>
  </div>
  <div class="row">
      <%= render "get_complaints" %>
      <%= render "get_exams" %>
  </div>
</div>

